{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui container">
      <h1>{{ locale( "[GAMES_TITLE]" ) }}</h1>
      <div class="ui grid">
        <div class="ten wide column">
          <p>{{ locale( "[GAMES_INTRO]" ) }}:</p>
        </div>
        <div class="six wide right aligned column">
          <a class="ui button primary" href="{{ url_for('wakkerdam.new_game') }}">
            <div class="visible content">
              <p>
                {{ locale( "[GAMES_NEW_GAME]" ) }}
              </p>
            </div>
          </a>
          <a class="ui button" href="{{ url_for('wakkerdam.invite') }}">
            <div class="visible content">
              <p class="invite_text">
                {{ locale( "[GAMES_INVITES]" ) }} 
              </p>
              {% if current_user.getInviteAmount() > 0 %}
              <p class="invite_notification">
                {{ current_user.getInviteAmount() }}
              </p>
              {% endif %}
            </div>
          </a>
        </div>
        
      </div>
      <div id='current_games'>
        <p>{{ locale( "[GAMES_ONGOING]" ) }}:</p>
        {% set count = namespace(value=0) %}
        {% for game in games %}
          {% if game.getOngoing() == 1 %}
          <div class='column'>
            <a class="ui segment grid button left aligned" href="{{ url_for('wakkerdam.game', gameId=game.getId()) }}">
              <div class='six wide column'>
                <h2>{{ game.getName() }}</h2>
              </div>
              <div class='four wide column'>
                <h5>{{ locale( "[GAME_HOST]" ) }}:</h5>
                <p>{{ game.getHostingUser().getFullName() }}</p>
              </div>
              <div class='three wide column'>
                <h5>{{ locale( "[GAME_START_DATE]" ) }}:</h5>
                <p>{{ game.getStartDate() }}</p>
              </div>
              <div class='three wide column'>
                <h5>{{ locale( "[GAME_PLAYER_AMOUNT]" ) }}:</h5>
                <p>{{ game.getPlayerAmount() }}</p>
              </div>
            </a>
          </div>
          {% set count.value = count.value + 1 %}
          {% endif %}
        {% endfor %}

        {% if count.value == 0 %}
        <p class="three wide column">{{ locale( "[GAMES_NONE]" ) }}</p>
        {% endif %}
      </div>
      <div id='past_games'>
        <p>{{ locale( "[GAMES_ENDED]" ) }}:</p>
        {% set count = namespace(value=0) %}
        {% for game in games %}
          {% if game.getOngoing == 0 %}
          <div class='column'>
            <div class="ui segment grid">
              <div class='six wide column'>
                <h2>{{ game.getName() }}</h2>
              </div>
              <div class='four wide column'>
                <h5>{{ locale( "[GAME_HOST]" ) }}:</h5>
                <p>{{ game.getHostingUser().getFullName() }}</p>
              </div>
              <div class='three wide column'>
                <h5>{{ locale( "[GAME_START_DATE]" ) }}:</h5>
                <p>{{ game.getStartDate() }}</p>
              </div>
              <div class='three wide column'>
                <h5>{{ locale( "[GAME_PLAYER_AMOUNT]" ) }}:</h5>
                <p>{{ game.getPlayerAmount() }}</p>
              </div>
            </div>
          </div>
          {% set count.value = count.value + 1 %}
          {% endif %}
        {% endfor %}

        {% if count.value == 0 %}
        <div class="sixteen wide column">
          <p>{{ locale( "[GAMES_NONE]" ) }}</p>
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
