{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui container">
      <h1>Jouw spellen</h1>
      <div class="ui grid">
        <div class="ten wide column">
          <p>Hallo {{ current_user.getFullName() }}</br>Hieronder vind je de spellen waar je nu aan mee doet:</p>
        </div>
        <div class="six wide right aligned column">
          <a class="ui button primary" href="{{ url_for('wakkerdam.new_game') }}">
            <div class="visible content">
              <p>
                Nieuw spel
              </p>
            </div>
          </a>
          <a class="ui button" href="{{ url_for('wakkerdam.invite') }}">
            <div class="visible content">
              <p class="invite_text">
                Uitnodigingen 
              </p>
              {% if current_user.getInviteAmount() > 0 %}
              <p class="invite_notification">
                {{ current_user.getInviteAmount() }}
              </p>
              {% endif %}
            </div>
          </a>
        </div>
        
      </div>
      <div id='current_games'>
        <p>Spellen die bezig zijn:</p>
        {% set count = namespace(value=0) %}
        {% for game in games %}
          {% if game.getOngoing() == 1 %}
          <div class='column'>
            <a class="ui segment grid button left aligned" href="{{ url_for('wakkerdam.game', gameId=game.getId()) }}">
              <div class='six wide column'>
                <h2>{{ game.getName() }}</h2>
              </div>
              <div class='four wide column'>
                <h5>Host:</h5>
                <p>{{ game.getHostingUser().getFullName() }}</p>
              </div>
              <div class='three wide column'>
                <h5>Start datum:</h5>
                <p>{{ game.getStartDate() }}</p>
              </div>
              <div class='three wide column'>
                <h5>Aantal spelers:</h5>
                <p>{{ game.getPlayerAmount() }}</p>
              </div>
            </a>
          </div>
          {% set count.value = count.value + 1 %}
          {% endif %}
        {% endfor %}

        {% if count.value == 0 %}
        <p class="three wide column">Er zijn hier geen spellen</p>
        {% endif %}
      </div>
      <div id='past_games'>
        <p>Spellen die afgelopen zijn:</p>
        {% set count = namespace(value=0) %}
        {% for game in games %}
          {% if game.getOngoing == 0 %}
          <div class='column'>
            <div class="ui segment grid">
              <div class='six wide column'>
                <h2>{{ game.getName() }}</h2>
              </div>
              <div class='four wide column'>
                <h5>Host:</h5>
                <p>{{ game.getHostingUser().getFullName() }}</p>
              </div>
              <div class='three wide column'>
                <h5>Start datum:</h5>
                <p>{{ game.getStartDate() }}</p>
              </div>
              <div class='three wide column'>
                <h5>Aantal spelers:</h5>
                <p>{{ game.getPlayerAmount() }}</p>
              </div>
            </div>
          </div>
          {% set count.value = count.value + 1 %}
          {% endif %}
        {% endfor %}

        {% if count.value == 0 %}
        <div class="sixteen wide column">
          <p>Er zijn hier geen spellen</p>
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
