{% extends 'layouts/base.html' %}

{% block custom_head_tags %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/placeholder.min.css') }}">
{% endblock %}

{% block content %}
<div class="ui container">
    <div class="ui internally celled grid">
        <div class="row">
            <div class="ui grid" style="width:100%; margin-left: 0; margin-right: 0;">
                <div class="eight wide column">
                    <a href=""><<< de krant van gister</a>
                </div>
                <div class="eight wide right aligned column">
                    <a href="">de krant van morgen >>></a>
                </div>
                <div class="two wide column"></div>
                <div class="twelve wide center aligned column">
                    <div class="ui sizer vertical segment">
                        <div class="ui huge header">
                            <div class="newspaperTitle">
                                De Wakkerdammer
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two wide center aligned column">
                    <div class="newspaperDate">
                        {{ newspaper.getDateFormatted() }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <div class="ui placeholder">
                    <div class="paragraph">
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
            </div>
            <div class="eight wide column">
                <div class="ui placeholder"  style="max-width: 100%; height: 100%;">
                    <div class="image"></div>
                </div>
            </div>
            <div class="four wide column">
                
            </div>
        </div>

        <div class="row">
            <div class="four wide column">
                
            </div>
            <div class="four wide column">
                <div class="ui placeholder">
                    <div class="paragraph">
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
            </div>
            <div class="four wide column">
                
            </div>
            <div class="four wide column">
                <div class="ui placeholder">
                    <div class="paragraph">
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <div class="ui placeholder">
                    <div class="paragraph">
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
            </div>
            <div class="four wide column">
                <div class="ui placeholder">
                    <div class="paragraph">
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
            </div>
            <div class="four wide column">
                
            </div>
            <div class="four wide column">
                <div class="ui placeholder">
                    <div class="paragraph">
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="eight wide column">
                <div class="ui placeholder"  style="max-width: 100%; height: 100%;">
                    <div class="image"></div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui placeholder">
                            <div class="paragraph">
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                            </div>
                          </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui placeholder">
                            <div class="paragraph">
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                              <div class="line"></div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
{% endblock content %}